.merriweather-regular {
    font-family: "Merriweather", serif;
    font-weight: 400;
    font-style: normal;
  }
  *{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;

  }
  /* banner style */
  .banner-container{
    width: 1320px;
    height: 600px;
    background-color: rgba(0,0,0,0.5);
    background-image: url(../images/Banner\ Image.png);
    margin: 50px auto;
    background-size: cover;
    height: 600px;
    border: none;
    border-radius: 16px;
    background-blend-mode: overlay;
  }
.banner-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 600px;
    align-items: center;
}
.banner-content,p{
    color: white;
    font-size: 32px;   
}
.banner-content ,h1{
    color: white;
    font-size: 72px;    
}
.breaking-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
