.merriweather-regular {
    font-family: "Merriweather", serif;
    font-weight: 400;
    font-style: normal;
  }
  *{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
  }
  /* shared section */
  .text-center{
    display: flex;
    align-items: center;
    justify-content: center; 
  }
  .font-primary{
    color: #FF0000;
  }
  .secondary-bg{
    color: #FF0000;
  }
  .font-secondary{
    color: white;
  }
  .font-diamond{
    color: #070211;
  }
  /* banner style */
  .banner-container{
    width: 1320px;
    height: 600px;
    background-color: rgba(0,0,0,0.5);
    background-image: url(../images/Banner\ Image.png);
    margin: 50px auto;
    background-size: cover;
    /* height: 600px; */
    border: none;
    border-radius: 16px;
    background-blend-mode: overlay;
  }
.banner-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 600px;
    align-items: center;
}
.banner-content,p{
    color: white;
    font-size: 32px;   
}
.banner-content ,h1{
    color: white;
    font-size: 72px;    
}
.breaking-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* 65% OFF section start */
.second-section-container{
    width: 802px;
    height: 806px;
    /* border: 2px solid red; */
    margin: 120px auto;
}
.second-section-content,h1{
    font-size: 88px;
    font-weight: bold;
    color: #FF0000;
    padding-bottom: 48px;
}
    .inter-font {
        font-family: "Inter", sans-serif;
        font-optical-sizing: auto;
        font-weight: weight;
        font-style: normal;
        font-variation-settings:
          "slnt" 0;
      }
.second-section-content,p{
    font-size: 24px;
    font-weight: 500;
    padding-bottom:16px ;
}     
.second-section-content,h3{
    color: #070211;
    font-size: 48px;
    font-weight: bold;
}
.img-section{
    padding-top: 48px ;
}
/* welcome to 2024 section start here  */

.third-section-container{
    width: 1320px;
    height: 600px;
    border-radius: 14px;
    background-image: linear-gradient(to right,rgba(0, 0, 0, 0.812),transparent),url(../images/Vectorrr.png);
    /* background-image:  url(/images/Vectorrr.png); */
    margin: 120px auto; 
    background-position: center;
    background-size: cover;
    display: flex;      
}
.section-blog{
    width: 50%;
    height: 600px;
    /* border: 2px solid blue; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.section-title{
    color: white;
    font-size: 64px;
    padding-bottom: 24px;
}
.section-description{
    color: white;
    font-size: 16px;
    font-weight: 200;
    padding-left: 126px;
    padding-bottom: 48px;
}
.section-subtitle{
    padding-right: 300px;
    font-size: 20px;
    font-weight: bold;
    color: white;
}
.section-picture{
    width: 50%;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* place,date,time start here */
.fourth-section-container{
    width: 1320px;
    height: 482px;
    margin: 120px auto;
    background-image: linear-gradient(to top, rgba(255, 0, 0, 0), rgba(255, 0, 0, 0.1));
   
}
.section-box{
    flex-direction: column;
    margin-top: 100px;
    font-size: 32px;
    font-weight: 400px;
    
}
.btn-primary{
    padding: 16px 32px;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #FF0000;
    border-radius: 5px;
    border: none;
    margin-top: 48px;
}
/* offer section start here */
.offer-container{
    width: 1320px;
    height: 463px;
    margin: 122px auto;
    /* border: 2px solid red ; */
    display: flex;
    gap: 70px;
    border-radius: 14px;
    background-color: rgb(255, 255, 255);;
    
}
.left-container{
    width: 393px;
    height: 128px; 
    padding: 100px 70px 100px 0;
    display: flex; 
    flex-direction: column;
    text-align: left;
}
.coming-section{
    font-size: 48px;
    font-weight: bold;
    padding-top: 16px;
}
.section-content{
    font-size: 20px;
    font-weight: 200px;
    padding-top: 22px;
}
.new-section{
    font-size: 24;
    font-weight: 400px;
}
.middle-picture{
   width: 463px;
   height: 463px;
   box-sizing:border-box;
   border: 15px solid red;
   border-radius: 50%;
   display: flex;
}

.right-container{
  padding: 100px 0px 150px 90px;  
  width: 276px;
  height: 96px;
  text-align: left;
}
.year-section{
    padding-bottom: 16px;
    font-size:48px ;
    font-weight: bold;
}
.section-part{
    font-size: smaller;
    font-weight: 100px; 
}
.group-section-img{
    padding-top: 20px;
}

/* functional section starts here */
.funtional-section{
    width: 1320px;
    height: 986.07px;
    margin: 120px auto;
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.function-head-part{
    width: 1068px;
    height: 260px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Merriweather;
}
.holiday-title{
    color: rgb(7, 2, 17);
    font-size: 24px;
    font-weight: 500;
    padding-bottom: 16px;
}
.holiday-content{
    padding-bottom: 28px;
}
.holiday-description{
    font-size: 20px;
    font-weight: 500;
    color: rgba(7, 2, 17, 0.6);
    padding: 22px 126px 64px 126px;
}
.solid-color{
    position: absolute;
    width: 1320px;
    height: 229px;
    border-radius: 16px 0px 16px 16px;
    background: rgb(255, 0, 0);
    top: 77%;
}
.gift-box-container{
    width: 674.82px;
    height: 577.96px;
    position: relative;
    z-index: 1;
    right: 30%;
    top: 5%;
}
.girl-container{
    width: 305.69px;
    height: 305.69px;
    position: relative;
    left: 30%;
    bottom: 45%;
}

/* awesome portfolio starts here */

.awesome-portfolio-container{
    width: 1320px;
    height: 1163px;
    margin: 120px auto;
}
.gift-title{
    padding-bottom: 16px;
    font-size: 24px;
    font-weight: 500;
}
.portfolio-heading{
    padding-bottom: 22px;
    font-size: 48px;
    font-weight: 900;
    font-family: Merriweather;
}
.portfolio-description{
    width: 896px;
    height: 64px;
    padding-bottom: 48px;
    color: rgba(7, 2, 17, 0.6);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
}
/* subscribe newsletter */
.subscribe-container{
    width: 1320px;
    height: 616px;
    margin: 120px auto;
    border: 2px solid red;
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
}
.newslwtter-contet{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.mail-box{
    padding-top: 80px;
}
.subscribe-title{
    padding-top: 40px;
}
.news-content{
    padding-top: 22px;
    width: 896px;
    height: 64px;
    color: rgba(7, 2, 17, 0.6);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
}
.rectangle{
    width: 648px;
    height: 72px;
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    border-radius: 50px;
    background: rgb(255, 255, 255);
    margin-top: 48px;
    position:relative;
}
.sub-title{
    position: absolute;
    width: 210px;
    height: 72px;
    border-radius: 0px 50px 50px 0px;
    background: rgb(255, 0, 0);
    left: 70%;
}
.sub-title, p{
    color: rgb(255, 255, 255);
font-family: Inter;
font-size: 20px;
font-weight: 600;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
padding: 24px 56px;
}
.user-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 25px 475px 25px 30px;
    color: rgba(7, 2, 17, 0.3);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
}